.hello{
	text-align: center;
}
.loginPage{
	text-align: center;
	line-height: 300%;
}
.btn{
	line-height: 170%;
}
.newUser{
	text-align: center;
}
.userDelete{
	text-align: center;
}
.userInfo{
	text-align: center;
}
.userList{
	text-align: center;
}
.userUpdate{
	text-align: center;
}

